#map-canvas {
	background:url(map.png);
	width: 50%;
	position: absolute;
	left: 0px;
	height: 80%;
	margin: 0;
	padding: 0;
	top:0;
}
#camera-canvas {
	background:url(temppic.jpg);
	width: 50%;
	position: absolute;
	left: 50%;
	right: 0px;
	height: 80%;
	top:0;
}
html,body{
	width:100%;
	position:absolute;
	left:0;
	height:100%;
	padding:0;
	margin:0;
}

#buttonland{
	top:80%;
	left:0;
	margin:0;
	position:absolute;
	width:100%;
}
.buttonstyle{
	width:24.75%;
	height:50%;
	margin:0;
	padding:0;
}